/* nav styles */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--color-bg-tertiary);
  display: none;
  margin: 0;
  list-style: none;
  padding: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: var(--font-size-xl);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
}

/* hamburger styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  display: block;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--color-bg-tertiary);
}

/* expanded class shows nav bar */
.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  /* hamburger hidden on big screens */
  .hamburger {
    display: none;
  }
  
  .nav-links {
    margin-left: 0;
    display: flex !important;
    position: static;
    width: auto;
    background: none;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    color: var(--color-text-secondary);
  }

  .nav-links a:hover {
    background-color: transparent;
    color: var(--color-text-primary);
  }
}