---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/pages/iempresa.css';
const pageTitle = "Estatuto da IEmpresa";
---
<BaseLayout pageTitle={pageTitle}>
  <p class="text-center">&nbsp;</p>
  <p class="text-center color-dark fs-16">
    A <span class="text-bold">IEmpresa</span> &eacute; uma empresa virtual que organiza o mercado social em a&ccedil;&atilde;o global pelo valor do know-how, de acordo com as necessidades da &aacute;rea de atua&ccedil;&atilde;o local/comunit&aacute;ria. Por&eacute;m a coopera&ccedil;&atilde;o econ&ocirc;mica &eacute; para organizar o econ&ocirc;mico, numa a&ccedil;&atilde;o local. &Eacute; &nbsp;sist&ecirc;mica e organiza o homem em seu local de trabalho de forma descentralizada, e estabelece as bases da infraestrutura na iempresa. O controle democr&aacute;tico representa a base, ou seja a organiza&ccedil;&atilde;o de baixo para cima, atendendo as necessidades, os interesses e as reivindica&ccedil;&otilde;es, motivo pelo qual, foi criado o triunvirato, ou melhor, o conselho de administra&ccedil;&atilde;o, conselho social e conselho econ&ocirc;mico, conforme descrito no estatuto. Na <span class="text-bold">IEmpresa</span> falta desenvolver o software, porem foi elaborado seu Estatuto para maior compreens&atilde;o da moderna empresa, conforme editado neste site.
  </p>
  <p>&nbsp;</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section id="09f08b65-3233-4a72-8c43-7aae094d50f8" class="cs-section">
    <div class="cs-section-inner">
      <div class="cs-lines">
        <div id="05b5eac7-94fe-4210-83a3-d44de2c12577" class="cs-line">
          <div class="cs-boxes">
            <div id="d8786d09-fad6-4008-8555-d94579b30926" class="cs-box">
              <div class="cs-widgets">
                <div id="b74b8d98-4edb-441f-86ec-dc27a0f47831" class="cs-widget cs-text-widget">
                  <div class="text-editor">
                    <p class="statute-title">ESTATUTO SOCIAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO I</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">DA DENOMINA&Ccedil;&Atilde;O, SEDE, FORO, PRAZO DE DURA&Ccedil;&Atilde;O, &Aacute;REA DE A&Ccedil;&Atilde;O, OBJETO DA SOCIEDADE, EXERC&Iacute;CIO SOCIAL E LEVANTAMENTO DO BALAN&Ccedil;O GERAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A empresa ........................ (<span class="text-bold">nome e sigla</span>), constitu&iacute;da no dia&nbsp; ___/___/___, rege-se pelos valores e princ&iacute;pios do Cooperativismo, pelas disposi&ccedil;&otilde;es legais, pelas diretrizes da autogest&atilde;o e por este estatuto, SENDO UMA EMPESA VIRTUAL:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) sede administrativa em .................... (<span class="text-bold">nome do munic&iacute;pio ou do distrito ou endere&ccedil;o completo</span>), foro jur&iacute;dico na Comarca de .................(<span class="text-bold">nome</span>), Estado ............ (<span class="text-bold">nome</span>);</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">b) &aacute;rea de a&ccedil;&atilde;o, para fins de admiss&atilde;o de Cooperados, abrangendo o(s) munic&iacute;pio(s) de .........................(<span class="text-bold">nomes</span>);</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">c) prazo de dura&ccedil;&atilde;o indeterminado e ano social compreendido no per&iacute;odo de 1&ordm; de Janeiro a 31 de Dezembro de cada ano.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO II</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DO OBJETO SOCIAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A Economia Solid&aacute;ria &ndash; Econsolid&aacute;ria tem por objeto social:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">I.&nbsp;&nbsp; Atender as necessidades, interesses e reivindica&ccedil;&otilde;es na &aacute;rea de atua&ccedil;&atilde;o local/comunit&aacute;ria, a fim de supri-las na &aacute;rea socioecon&ocirc;mica, educativa, profissionalizante, treinamento e informa&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">II.&nbsp;&nbsp;&nbsp;&nbsp; Profissionalizar pelo valor do "know-how", para formar recursos humanos capazes, gerar trabalho e fixar o individuo em seu local de trabalho;</p>
                    <p class="text-justify color-black fs-12pt">III.&nbsp;&nbsp; Organizar o valor do "know-how" na empresa para desenvolver o cooperado, profissionalizar e gerar trabalho;</p>
                    <p class="text-justify color-black fs-12pt">IV.&nbsp;&nbsp;&nbsp; Interessar profissionais, especialistas ou n&atilde;o, e as pessoas de modo geral, nos programas de assist&ecirc;ncia social, originados do levantamento de zonas perif&eacute;ricas do munic&iacute;pio onde h&aacute; m&aacute; qualidade de vida;</p>
                    <p class="text-justify color-black fs-12pt">V.&nbsp;&nbsp;&nbsp;&nbsp; Estimular e conduzir a pr&aacute;tica dos deveres c&iacute;vicos, orienta&ccedil;&atilde;o sobre a responsabilidade e direitos inerentes aos cidad&atilde;os brasileiros, em cada n&uacute;cleo de trabalho;</p>
                    <p class="text-justify color-black fs-12pt">VI.&nbsp;&nbsp;&nbsp; Promover reuni&otilde;es de intercomunica&ccedil;&atilde;o produzidas, na linha de profissionaliza&ccedil;&atilde;o para gerar trabalho;</p>
                    <p class="text-justify color-black fs-12pt">VII.&nbsp;&nbsp; Manter servi&ccedil;os pr&oacute;prios de assist&ecirc;ncia aos afiliados e seus dependentes: m&eacute;dica, dent&aacute;ria, recreativa, educacional e jur&iacute;dica celebrando conv&ecirc;nios e contratos de qualquer natureza com entidades p&uacute;blicas e/ou privadas, para cumprimento de seus objetivos sociais ou organizar de maneira a gerar trabalho;</p>
                    <p class="text-justify color-black fs-12pt">VIII&nbsp;&nbsp; Para a realiza&ccedil;&atilde;o de seus objetivos a economia solid&aacute;ria poder&aacute; filiar-se a outras entidades cong&ecirc;neres, a n&iacute;vel local, regional, estadual, nacional e internacional sem perder sua individualidade e poder de decis&atilde;o;</p>
                    <p class="text-justify color-black fs-12pt">IX&nbsp;&nbsp;&nbsp;&nbsp; Buscar a autonomia financeira e autossustenta&ccedil;&atilde;o atrav&eacute;s da gera&ccedil;&atilde;o de trabalho para distribui&ccedil;&atilde;o de renda;</p>
                    <p class="text-justify color-black fs-12pt">X.&nbsp;&nbsp; Controlar o preenchimento do formul&aacute;rio do software da empresa;</p>
                    <p class="text-justify color-black fs-12pt">XI.&nbsp; Outras atividades inerentes e correlacionadas a natureza da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO III</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DOS COOPERADOS</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">ADMISS&Atilde;O, DEVERES, DIREITOS E RESPONSABILIDADES</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Poder&atilde;o associar-se &agrave; empresa, salvo se houver impossibilidade t&eacute;cnica de presta&ccedil;&atilde;o de servi&ccedil;os, quaisquer profissionais aut&ocirc;nomos que se dediquem &agrave; atividade objeto da entidade e preencherem os pr&eacute;-requisitos definidos no regimento interno, sem prejudicar os interesses da empresa, nem com eles colidir.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Para associar-se, o interessado preencher&aacute; a Ficha da Matr&iacute;cula, com duas testemunhas, com todas as firmas devidamente reconhecidas em cart&oacute;rio, bem como a declara&ccedil;&atilde;o de que optou livremente por se associar, conforme normas constantes do Regimento Interno da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A subscri&ccedil;&atilde;o das quotas-partes do Capital Social e a assinatura no livro de matr&iacute;cula complementaram a admiss&atilde;o do cooperado.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A representa&ccedil;&atilde;o da pessoa jur&iacute;dica junto &agrave; empresa se far&aacute; por meio de pessoa natural especialmente designada, mediante instrumento espec&iacute;fico, e nos casos em que houver mais de um representante, identificar&aacute; os poderes de cada um.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Cumpridas as disposi&ccedil;&otilde;es acima, o cooperado adquire os direitos e assume todos os deveres decorrentes da lei, deste estatuto, do c&oacute;digo de &eacute;tica, se houver, e das delibera&ccedil;&otilde;es tomadas pela empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">S&Atilde;O DIREITOS DOS COOPERADOS</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) participar das Assembleias Gerais, discutindo e votando os assuntos que forem tratados;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">b) propor ao Conselho de Administra&ccedil;&atilde;o, ao Conselho Fiscal Social e ao Conselho / fiscal econ&ocirc;mico-financeiro ou &agrave;s Assembleias Gerais medidas de interesse da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">c) solicitar seu desligamento da empresa quando lhe convier;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">d) solicitar informa&ccedil;&otilde;es sobre seus d&eacute;bitos e cr&eacute;ditos;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">e) solicitar informa&ccedil;&otilde;es sobre as atividades da empresa e, a partir da data de publica&ccedil;&atilde;o do edital de convoca&ccedil;&atilde;o da Assembleia Geral Ordin&aacute;ria, consultar os livros e pe&ccedil;as do Balan&ccedil;o Geral, que devem estar &agrave; disposi&ccedil;&atilde;o do cooperado na sede da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A fim de serem apreciadas em Assembleia Geral, as propostas dos cooperados, referidas em &ldquo;b&rdquo; deste artigo, dever&atilde;o ser apresentadas ao Conselho de Administra&ccedil;&atilde;o com a anteced&ecirc;ncia m&iacute;nima de um m&ecirc;s e constar do respectivo edital de convoca&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">As propostas subscritas por, pelo menos, 10 (dez) cooperados, ser&atilde;o obrigatoriamente levadas pelo Conselho de Administra&ccedil;&atilde;o &agrave; Assembleia Geral e, na eventualidade de n&atilde;o serem, ser&atilde;o apresentadas diretamente pelos cooperados proponentes.&nbsp;&nbsp;&nbsp; </p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">S&Atilde;O DEVERES DOS COOPERADOS</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) subscrever e integralizar as quotas-partes do capital nos termos deste estatuto e contribuir com as taxas de servi&ccedil;o e encargos operacionais que forem estabelecidos;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">b) cumprir com as disposi&ccedil;&otilde;es da lei, do estatuto e, se houver, do c&oacute;digo de &eacute;tica, bem como respeitar as resolu&ccedil;&otilde;es tomadas pelo Conselho de Administra&ccedil;&atilde;o, Conselho Fiscal Social e Conselho Fiscal Econ&ocirc;mico e as delibera&ccedil;&otilde;es das Assembleias Gerais;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">c) satisfazer pontualmente seus compromissos com a empresa, dentre os quais o de participar ativamente da sua administra&ccedil;&atilde;o societ&aacute;ria e empresarial;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">d) realizar com a empresa as opera&ccedil;&otilde;es econ&ocirc;micas que constituam sua finalidade;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">e) prestar &agrave; empresa informa&ccedil;&otilde;es relacionadas com as atividades que lhe facultaram se associar;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">f) cobrir as perdas do exerc&iacute;cio, quando houver, proporcionalmente &agrave;s opera&ccedil;&otilde;es que realizou com a empresa, se o Fundo de Reserva n&atilde;o for suficiente para tal;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">g) prestar &agrave; empresa esclarecimentos sobre as suas atividades;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">h) levar ao conhecimento do Conselho de &Eacute;tica, se houver, ou ao Conselho de Administra&ccedil;&atilde;o, Conselho Fiscal Social e Conselho Fiscal Econ&ocirc;mico a exist&ecirc;ncia de qualquer irregularidade que atente contra a lei, o estatuto, a moral e os bons costumes e, se houver, do c&oacute;digo de &eacute;tica;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">i) zelar pelo patrim&ocirc;nio material e moral da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">As obriga&ccedil;&otilde;es dos cooperados falecidos, contra&iacute;das com a empresa, e as oriundas de suas responsabilidades como cooperados em face de terceiros, transferem-se aos herdeiros, prescrevendo, por&eacute;m, ap&oacute;s um ano do dia da abertura da sucess&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os herdeiros do cooperado falecido t&ecirc;m direito ao capital da quota-parte aplicado no Mercoop - Mercado Econ&ocirc;mico Cooperativo e demais cr&eacute;ditos pertencentes ao &ldquo;de cujos&rdquo;, assegurando-se-lhes o direito de ingresso na empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">DESLIGAMENTO, ELIMINA&Ccedil;&Atilde;O E EXCLUS&Atilde;O</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O desligamento do cooperado dar-se-&agrave; a seu pedido, formalmente dirigido ao Conselho de Administra&ccedil;&atilde;o da empresa, e n&atilde;o poder&aacute; ser negado.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A elimina&ccedil;&atilde;o do cooperado, realizada em virtude de infra&ccedil;&atilde;o de lei, do c&oacute;digo de &eacute;tica ou deste estatuto, ser&aacute; feita pelo Conselho de Administra&ccedil;&atilde;o, ap&oacute;s duas advert&ecirc;ncias por escrito ou, se houver c&oacute;digo de &eacute;tica, conforme Regimento Interno do Conselho de &Eacute;tica da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O Conselho de Administra&ccedil;&atilde;o poder&aacute; eliminar o cooperado que:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) manter qualquer atividade que conflite com os objetivos sociais da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">b) deixar de cumprir as obriga&ccedil;&otilde;es por ele contratadas na empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">c) deixar de realizar, com a empresa, as opera&ccedil;&otilde;es que constituem seu objetivo social;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">d) agir de modo a prejudicar a empresa, ou sua imagem, e ainda causando-lhe preju&iacute;zos materiais ou morais, judicialmente apurados.</p>
                    <p class="text-justify color-black fs-12pt text-italic">C&oacute;pia aut&ecirc;ntica da decis&atilde;o ser&aacute; remetida ao cooperado, por processo que comprove as datas da remessa e do recebimento.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O cooperado poder&aacute;, dentro do prazo de 30 (trinta) dias, contar da data do recebimento da notifica&ccedil;&atilde;o, interpor recurso, que ter&aacute; efeito suspensivo at&eacute; a primeira Assembleia Geral, caso o Regimento do Conselho de &Eacute;tica n&atilde;o defina outros procedimentos.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A exclus&atilde;o do cooperado ser&aacute; feita:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) por dissolu&ccedil;&atilde;o da pessoa jur&iacute;dica;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">b) por morte da pessoa f&iacute;sica;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">c) por incapacidade civil n&atilde;o suprida;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">d) por deixar de atender aos requisitos estatut&aacute;rios de ingresso e/ou perman&ecirc;ncia na empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O ato de exclus&atilde;o do cooperado, nos termos do inciso &ldquo;d&rdquo; do t&oacute;pico anterior ser&aacute; efetivado por decis&atilde;o do Conselho de Administra&ccedil;&atilde;o, mediante termo firmado pelo Presidente no documento de matr&iacute;cula, fundamentado com os motivos que o determinaram e remessa de comunica&ccedil;&atilde;o ao interessado, no prazo de 30 (trinta) dias, por processo que comprove as datas de remessa e recebimento.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Em qualquer caso de desligamento, elimina&ccedil;&atilde;o ou exclus&atilde;o, o cooperado s&oacute; ter&aacute; direito &agrave; restitui&ccedil;&atilde;o do capital, devidamente corrigido, das sobras e de outros cr&eacute;ditos que lhe tiverem sido registrados, n&atilde;o lhe cabendo outro direito.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A restitui&ccedil;&atilde;o de que trata este artigo somente poder&aacute; ser exigida depois de aprovado, pela Assembleia Geral, o Balan&ccedil;o do exerc&iacute;cio em que o cooperado tenha sido desligado da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O Conselho de Administra&ccedil;&atilde;o da cooperativa poder&aacute; determinar a restitui&ccedil;&atilde;o desse capital em at&eacute; 10 (dez) parcelas, a partir do exerc&iacute;cio financeiro que se seguir ao em que se deu o desligamento.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">No caso de morte do cooperado, a restitui&ccedil;&atilde;o de que trata o par&aacute;grafo anterior ser&aacute; efetuada aos herdeiros legais em parcela &uacute;nica, mediante a apresenta&ccedil;&atilde;o do respectivo formal de partilha ou alvar&aacute; judicial.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Ocorrendo desligamentos, elimina&ccedil;&otilde;es ou exclus&otilde;es de Cooperados em n&uacute;mero tal que as restitui&ccedil;&otilde;es das import&acirc;ncias referidas neste artigo possam amea&ccedil;ar a estabilidade econ&ocirc;mico-financeira da empresa, esta poder&aacute; restitu&iacute;-las, mediante crit&eacute;rios que resguardem a sua continuidade.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Quando a devolu&ccedil;&atilde;o do capital ocorrer de forma parcelada, dever&aacute; manter o valor de compra estipulado na Assembleia Geral Ordin&aacute;ria que aprovar o Balan&ccedil;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">No caso de readmiss&atilde;o do cooperado, este integralizar&aacute; a vista e mediante atualiza&ccedil;&atilde;o o capital correspondente ao valor atualizado da empresa por ocasi&atilde;o do seu desligamento, salvo delibera&ccedil;&atilde;o contr&aacute;ria do Conselho de Administra&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os atos de desligamento, elimina&ccedil;&atilde;o ou exclus&atilde;o acarretam o vencimento e pronta exigibilidade das d&iacute;vidas do cooperado na empresa, caber&aacute; ao Conselho de Administra&ccedil;&atilde;o decidir sobre a liquida&ccedil;&atilde;o desses d&eacute;bitos.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os direitos e deveres de cooperados desligados, eliminados ou exclu&iacute;dos perdurar&aacute; at&eacute; a data da Assembl&eacute;ia Geral que aprovar o balan&ccedil;o de contas do exerc&iacute;cio em que ocorreu o desligamento, salvo disposi&ccedil;&atilde;o legal em contr&aacute;rio.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt"><span class="text-bold">CAP&Iacute;TULO IV</span></p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DA ORGANIZA&Ccedil;&Atilde;O DO QUADRO SOCIAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O Conselho social da empresa definir&aacute;, atrav&eacute;s do Regimento Interno, aprovado em Assembleia Geral, a forma de organiza&ccedil;&atilde;o do seu quadro social.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os representantes do quadro social junto &agrave; administra&ccedil;&atilde;o da cooperativa ter&atilde;o, entre outras, as seguintes fun&ccedil;&otilde;es:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) servir de liga&ccedil;&atilde;o entre o conselho fiscal social e o quadro social;</p>
                    <p class="text-justify color-black fs-12pt">b) explicar aos cooperados o funcionamento da empresa;</p>
                    <p class="text-justify color-black fs-12pt">c) esclarecer d&uacute;vidas dos cooperados sobre o funcionamento da empresa.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt"><span class="text-bold">CAP&Iacute;TULO V</span></p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DO CAPITAL SOCIAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O capital ser&aacute; subdividido em quotas-partes, em moeda corrente nacional.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O capital da empresa, representado por quota-parte, n&atilde;o ter&aacute; limite quanto ao m&aacute;ximo e variar&aacute; conforme o n&uacute;mero de quotas-partes subscritas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O valor da quota-parte organizado pelo mercado da informa&ccedil;&atilde;o da empresa &eacute; prefixado em simbiose e gera sobras pelo capital produtivo, ao sair no mercado, em valores p&oacute;s-fixados. </p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O capital da quota-parte ser&aacute; formado em equidade com o valor do &ldquo;know-how&rdquo;. A vari&aacute;vel ser&aacute; pela avalia&ccedil;&atilde;o do desempenho dos cooperados, pelo controle de qualidade do produto, servi&ccedil;o e/ou trabalho. </p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Medir&aacute; o valor da m&atilde;o de obra pela sua valia, atrav&eacute;s da educa&ccedil;&atilde;o, treinamento e informa&ccedil;&atilde;o, estabelecendo um heterog&ecirc;neo.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A quota-parte &eacute; indivis&iacute;vel e intransfer&iacute;vel a n&atilde;o cooperados, n&atilde;o podendo ser negociada em nenhuma hip&oacute;tese, nem dada em garantia, e sua subscri&ccedil;&atilde;o, transfer&ecirc;ncia ou restitui&ccedil;&atilde;o ser&aacute; sempre escriturada no livro de matr&iacute;cula.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A transfer&ecirc;ncia de quotas-partes entre cooperados, total ou parcial, ser&aacute; escriturada no livro de matr&iacute;cula mediante termo que conter&aacute; as assinaturas do cedente, do cession&aacute;rio e do Presidente administrativo.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O cooperado deve integralizar as quotas-partes &agrave; vista, em parcela &uacute;nica, ou subscrev&ecirc;-las em presta&ccedil;&otilde;es peri&oacute;dicas, independente de chamada, ou por meio de contribui&ccedil;&otilde;es.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Para efeito de integraliza&ccedil;&atilde;o de quotas-partes ou de aumento do capital social, poder&aacute; a empresa receber bens, avaliados previamente e ap&oacute;s homologa&ccedil;&atilde;o da Assembleia Geral ou mediante reten&ccedil;&atilde;o de determinada porcentagem do valor do movimento financeiro de cada cooperado.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Para efeito de admiss&atilde;o de novos cooperados ou novas subscri&ccedil;&otilde;es, a Assembleia Geral atualizar&aacute; anualmente, com a aprova&ccedil;&atilde;o de 2/3 (dois ter&ccedil;os) dos cooperados presentes com direito a voto, o valor da quota-parte, consoante proposi&ccedil;&atilde;o do Conselho de Administra&ccedil;&atilde;o, respeitados os &iacute;ndices de desvaloriza&ccedil;&atilde;o da moeda publicado por entidade oficial do Governo.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O n&uacute;mero de quotas-partes do capital social a ser subscrito pelo Cooperado, por ocasi&atilde;o de sua admiss&atilde;o, ser&aacute; vari&aacute;vel de acordo com sua propor&ccedil;&atilde;o comprometida na empresa, n&atilde;o podendo ser inferior a dez quotas-partes ou superior a 1/3 (um ter&ccedil;o) do total subscrito.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">As quotas-partes ser&atilde;o aplicadas no Mercado Econ&ocirc;mico Cooperativo- MERCOOP. O mercado econ&ocirc;mico-financeiro da empresa se d&aacute; pela aplica&ccedil;&atilde;o do valor do capital particular do cooperado, sendo que 30% (trinta por cento) retorna para a empresa e 70% (setenta por cento) v&atilde;o para o cooperado.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">&Eacute; vedada a distribui&ccedil;&atilde;o de qualquer esp&eacute;cie do benef&iacute;cio &agrave;s quotas-partes do capital ou estabelecer outras vantagens ou privil&eacute;gios, financeiros ou n&atilde;o, em favor de quaisquer associados ou terceiros.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt"><span class="text-bold">CAP&Iacute;TULO VI</span></p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DA ASSEMBLEIA GERAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">A)DEFINI&Ccedil;&Atilde;O E FUNCIONAMENTO</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A Assembleia Geral dos cooperados, Ordin&aacute;ria ou Extraordin&aacute;ria, &eacute; o &oacute;rg&atilde;o supremo da cooperativa, cabendo-lhe tomar toda a qualquer decis&atilde;o de interesse da entidade. Suas delibera&ccedil;&otilde;es vinculam a todos, ainda que ausentes ou discordantes.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A Assembleia Geral ser&aacute; habitualmente convocada e dirigida pelo Presidente Administrativo, Presidente social e Presidente econ&ocirc;mico.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Poder&aacute; tamb&eacute;m ser convocada pelos Fiscais, se ocorrerem motivos graves e/ou urgentes ou, ainda, ap&oacute;s solicita&ccedil;&atilde;o n&atilde;o atendida, por 1/5 (um quinto) dos cooperados em pleno gozo de seus direitos sociais.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">N&atilde;o poder&aacute; votar na Assembleia Geral o cooperado que tenha sido admitido ap&oacute;s a convoca&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Em qualquer das hip&oacute;teses, referidas no artigo anterior, as Assembleias Gerais ser&atilde;o convocadas com anteced&ecirc;ncia m&iacute;nima de 10 (dez) dias &uacute;teis.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">As decis&otilde;es ser&atilde;o previamente deliberadas em pr&eacute; assembleia e em interdepend&ecirc;ncia com a organiza&ccedil;&atilde;o do quadro social.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">As quest&otilde;es devem ser discutidas e compreendidas entre todos os cooperados ou fiscais.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A instala&ccedil;&atilde;o da Assembleia Geral ser&aacute; realizada mediante edital de convoca&ccedil;&atilde;o, conter&aacute; livro de presen&ccedil;a e o voto poder&aacute; ser virtual (via internet) ou por outra forma pass&iacute;vel de expressar a vontade dos cooperados.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Constatado o hor&aacute;rio estabelecido no edital de convoca&ccedil;&atilde;o, o Presidente instalar&aacute; a Assembleia e, o dia e a hora do encerramento, da convoca&ccedil;&atilde;o correspondente, far&aacute; transcrever estes dados para a respectiva ata.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Dos editais de convoca&ccedil;&atilde;o das assembleias gerais dever&atilde;o constar:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">a) a denomina&ccedil;&atilde;o da empresa e o n&uacute;mero de Cadastro Nacional de Pessoas Jur&iacute;dicas CNPJ, seguidas da express&atilde;o: Convoca&ccedil;&atilde;o da Assembleia Geral, Ordin&aacute;ria ou Extraordin&aacute;ria, conforme o caso;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">b) o dia e a hora de cada convoca&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">No caso da convoca&ccedil;&atilde;o ser realizada por cooperados, o edital ser&aacute; assinado, no m&iacute;nimo, por 5 (cinco) signat&aacute;rios do documento que a solicitou.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os editais de convoca&ccedil;&atilde;o ser&atilde;o afixados em locais vis&iacute;veis das depend&ecirc;ncias frequentadas pelos cooperados, enviados por e-mail, publicados em jornal de circula&ccedil;&atilde;o local ou regional, e/ou atrav&eacute;s de outros meios de comunica&ccedil;&atilde;o capazes de trazer a publicidade necess&aacute;ria.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">&Eacute; da compet&ecirc;ncia das Assembleias Gerais, Ordin&aacute;rias ou Extraordin&aacute;rias a destitui&ccedil;&atilde;o dos membros do Conselho de Administra&ccedil;&atilde;o, do conselho Fiscal social ou do conselho fiscal econ&ocirc;mico.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Ocorrendo destitui&ccedil;&atilde;o que possa comprometer a regularidade da administra&ccedil;&atilde;o ou fiscaliza&ccedil;&atilde;o da empresa, poder&aacute; a Assembleia Geral designar administradores, at&eacute; a posse dos novos, cuja elei&ccedil;&atilde;o se realizar&aacute; no prazo m&aacute;ximo de 30 (trinta) dias.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os trabalhos das Assembleias Gerais ser&atilde;o dirigidos pelo Presidente, auxiliado por um secret&aacute;rio, sendo convidados os ocupantes dos cargos sociais para participar da mesa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Na aus&ecirc;ncia do Secret&aacute;rio e de seu substituto, o Presidente convidar&aacute; outro cooperado para secretariar os trabalhos e lavrar a respectiva ata;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Quando a Assembleia Geral n&atilde;o tiver sido convocada pelo Presidente, os trabalhos ser&atilde;o dirigidos por um cooperado, escolhido na ocasi&atilde;o, e secretariado por outro, convidado por aquele, compondo os trabalhos principais interessados na sua convoca&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os ocupantes de cargos sociais, como quaisquer outros cooperados, n&atilde;o poder&atilde;o votar sobre assuntos que a eles se refiram direta ou indiretamente, sobretudo os de presta&ccedil;&atilde;o de contas, mas n&atilde;o ficar&atilde;o privados de tomar parte nos respectivos debates, podendo (e devendo) apresentar esclarecimentos quando solicitados.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Nas Assembleias Gerais em que forem discutidos os balan&ccedil;os das contas, logo ap&oacute;s a leitura do Relat&oacute;rio do Conselho de Administra&ccedil;&atilde;o, as pe&ccedil;as cont&aacute;beis e o parecer dos Fiscais, e da decis&atilde;o da pr&eacute; assembleia, ser&aacute; indicado um cooperado para coordenar a vota&ccedil;&atilde;o da mat&eacute;ria.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Transmitida a dire&ccedil;&atilde;o dos trabalhos, o Presidente, Conselheiros e fiscais permanecer&atilde;o &agrave; disposi&ccedil;&atilde;o da Assembleia Geral para os esclarecimentos que lhes forem solicitados.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O coordenador indicado escolher&aacute;, entre os cooperados, um Secret&aacute;rio para auxili&aacute;-lo na reda&ccedil;&atilde;o das decis&otilde;es a serem inclu&iacute;das na ata pelo Secret&aacute;rio da Assembleia Geral.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">As delibera&ccedil;&otilde;es das Assembleias Gerais somente poder&atilde;o versar sobre assuntos constantes do edital de convoca&ccedil;&atilde;o e os que com ele tiverem imediata rela&ccedil;&atilde;o, desde que previamente discutidos.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os assuntos que n&atilde;o constarem expressamente do edital de convoca&ccedil;&atilde;o e os que n&atilde;o satisfizerem as limita&ccedil;&otilde;es deste artigo, somente poder&atilde;o ser discutidos ap&oacute;s esgotada a Ordem do Dia, sendo que sua vota&ccedil;&atilde;o, caso a mat&eacute;ria seja considerada objeto de decis&atilde;o, ser&aacute; obrigatoriamente assunto para nova Assembleia.</p>
                    <p class="text-justify color-black fs-12pt text-italic">Para a vota&ccedil;&atilde;o de qualquer assunto na assembleia, deve averiguar primeiramente os votos a favor, depois os votos contra e por fim as absten&ccedil;&otilde;es.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O que ocorrer na Assembleia Geral dever&aacute; constar de ata circunstanciada, lavrada no livro pr&oacute;prio, aprovada e assinada ao final dos trabalhos pelos conselheiros e fiscais.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">As delibera&ccedil;&otilde;es nas Assembleias Gerais ser&atilde;o tomadas por maioria de votos, tendo cada cooperado direito a 1 (um) voto, independentemente da quantidade de suas quotas-parte.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Em regra, a vota&ccedil;&atilde;o ser&aacute; a descoberto, mas a Assembleia Geral poder&aacute; optar pelo voto secreto, em ambas modalidades, deve-se averiguar os votos a favor, os votos contra e as absten&ccedil;&otilde;es.&nbsp;&nbsp;&nbsp; </p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">ASSEMBLEIA GERAL ORDIN&Aacute;RIA</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A Assembleia Geral Ordin&aacute;ria, que se realizar&aacute; obrigatoriamente uma vez por ano, no decorrer de 3 (tr&ecirc;s) meses ap&oacute;s o t&eacute;rmino do exerc&iacute;cio social, e deliberar&aacute; sobre os seguintes assuntos, que dever&atilde;o constar da Ordem do Dia:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">a) presta&ccedil;&atilde;o de contas dos Conselheiros de administra&ccedil;&atilde;o, social e econ&ocirc;mico, acompanhada do Parecer dos Fiscais feitos pelo quadro social, compreendendo:</p>
                    <p class="text-justify color-black fs-12pt text-italic">i - Relat&oacute;rio da Gest&atilde;o</p>
                    <p class="text-justify color-black fs-12pt text-italic">ii - Balan&ccedil;o Geral;</p>
                    <p class="text-justify color-black fs-12pt text-italic">iii - Demonstrativo das sobras ou das perdas apuradas, e Parecer dos Fiscais.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">b) destina&ccedil;&atilde;o das sobras ou o rateio das perdas apuradas, deduzindo-se, no primeiro caso, as parcelas para os fundos obrigat&oacute;rios;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">c) elei&ccedil;&atilde;o e posse dos componentes do Conselho de Administra&ccedil;&atilde;o, do Conselho Fiscal Social, Conselho Fiscal Econ&ocirc;mico e de outros conselhos, quando for o caso;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">d) quaisquer assuntos de interesse social, exclu&iacute;dos os explicitamente enumerados neste estatuto.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A aprova&ccedil;&atilde;o do relat&oacute;rio, balan&ccedil;o e contas dos &oacute;rg&atilde;os de administra&ccedil;&atilde;o n&atilde;o desonera seus componentes da responsabilidade por erro, dolo, fraude ou simula&ccedil;&atilde;o, bem como por qualquer outra infra&ccedil;&atilde;o da lei ou deste estatuto, ainda que exclusivamente &eacute;tica.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">ASSEMBLEIA GERAL EXTRAORDIN&Aacute;RIA</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A Assembleia Geral Extraordin&aacute;ria realizar-se-&aacute; sempre que necess&aacute;rio, podendo deliberar sobre qualquer assunto de interesse da empresa, desde que mencionado no edital de convoca&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">&Eacute; da compet&ecirc;ncia exclusiva da Assembleia Geral Extraordin&aacute;ria deliberar sobre os seguintes assuntos, sem preju&iacute;zo de outros n&atilde;o inclu&iacute;dos na Assembleia Ordin&aacute;ria:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">a) reforma do estatuto</p>
                    <p class="text-justify color-black fs-12pt text-italic">b) desmembramento;</p>
                    <p class="text-justify color-black fs-12pt text-italic">c) mudan&ccedil;a de objetivo da sociedade;</p>
                    <p class="text-justify color-black fs-12pt text-italic">d) dissolu&ccedil;&atilde;o volunt&aacute;ria e nomea&ccedil;&atilde;o de liquidantes;</p>
                    <p class="text-justify color-black fs-12pt text-italic">e) contas do liquidante.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">PROCESSO ELEITORAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Sempre que houver previs&atilde;o de elei&ccedil;&atilde;o em Assembleia Geral, relativa aos membros dos Conselhos de Administra&ccedil;&atilde;o, Fiscal Social, Fiscal Econ&ocirc;mico, presidentes e vices Presidentes e, se houver, do Conselho de &Eacute;tica, os Fiscais, com a anteced&ecirc;ncia m&iacute;nima id&ecirc;ntica ao respectivo prazo da convoca&ccedil;&atilde;o, criar&atilde;o um Comit&ecirc; Especial composto de tr&ecirc;s membros, todos n&atilde;o candidatos a cargos eletivos na empresa, para coordenar os trabalhos em geral.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">No exerc&iacute;cio de suas fun&ccedil;&otilde;es, compete ao comit&ecirc; especialmente:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">a) certificar-se dos prazos de vencimento dos mandatos dos conselheiros em exerc&iacute;cio e do n&uacute;mero de vagas existentes;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">b) divulgar entre os cooperados, atrav&eacute;s de circulares e/ou outros meios adequados, o n&uacute;mero e a natureza das vagas a preencher;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">c) solicitar aos candidatos a cargo eletivo que apresentam certid&atilde;o negativa do INSS, e mat&eacute;ria c&iacute;vel, criminal, trabalhista e de protestos dos cart&oacute;rios das Comarcas em que tenham residido nos &uacute;ltimos cinco anos, bem como certid&atilde;o do registro de im&oacute;veis que possuam;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">d) registrar os nomes dos candidatos, pela ordem de inscri&ccedil;&atilde;o, verificando se est&atilde;o no gozo de seus direitos sociais;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">e) realizar consultas e promover entendimentos para a composi&ccedil;&atilde;o de chapas ou unifica&ccedil;&atilde;o de candidaturas, se aplic&aacute;vel;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">f) estudar e processar as impugna&ccedil;&otilde;es, pr&eacute;via ou posteriormente formuladas por cooperados no gozo de seus direitos sociais, bem como as den&uacute;ncias de irregularidade nas elei&ccedil;&otilde;es, encaminhando suas conclus&otilde;es ao Conselho de Administra&ccedil;&atilde;o, para que sejam tomadas as provid&ecirc;ncias legais cab&iacute;veis.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO VII</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DA ADMINISTRA&Ccedil;&Atilde;O</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">CONSELHO DE ADMINISTRA&Ccedil;&Atilde;O</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O Conselho de Administra&ccedil;&atilde;o, Conselho Fiscal Social e Conselho Fiscal econ&ocirc;mico ser&atilde;o compostos por um Presidente e um vice-presidente, os membros, todos cooperados no gozo de seus direitos sociais, eleitos pela Assembleia Geral para um mandado de tr&ecirc;s anos, sendo obrigat&oacute;ria, ao t&eacute;rmino de cada mandato, a renova&ccedil;&atilde;o de, no m&iacute;nimo, 1/3 (um ter&ccedil;o) dos seus componentes.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os membros dos Conselhos administrativo, econ&ocirc;mico e social escolher&atilde;o entre si, no ato de sua posse, aqueles que exercer&atilde;o as fun&ccedil;&otilde;es de Presidente e Vice-Presidente, cujos poderes e atribui&ccedil;&otilde;es se definem no Regimento Interno da Empresa, aprovado pela Assembleia Geral (<span class="text-bold">facultativo os cargos</span>).</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Cabem ao Gerente Administrativo, dentro dos limites da lei e deste estatuto, as seguintes atribui&ccedil;&otilde;es:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">a) propor &agrave; Assembleia Geral as pol&iacute;ticas e metas para orienta&ccedil;&atilde;o geral das atividades da empresa, apresentando programas de trabalho e or&ccedil;amento, al&eacute;m de sugerir as medidas a serem tomadas;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">b) avaliar e providenciar o montante dos recursos financeiros e dos meios necess&aacute;rios ao atendimento das opera&ccedil;&otilde;es e servi&ccedil;os;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">c) estimar previamente a rentabilidade das opera&ccedil;&otilde;es e servi&ccedil;os, bem como a sua viabilidade;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="text-bold text-underline">&nbsp;</span>&nbsp;&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">d) estabelecer as normas para funcionamento da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">e) elaborar, juntamente a lideran&ccedil;as do quadro social, Regimento Interno para a organiza&ccedil;&atilde;o do quadro social;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">f) estabelecer san&ccedil;&otilde;es ou penalidades a serem aplicadas nos casos de viola&ccedil;&atilde;o ou abuso cometidos contra disposi&ccedil;&otilde;es de lei, deste estatuto, ou das regras de relacionamento com a entidade que venham a ser estabelecidas;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">g) deliberar sobre a admiss&atilde;o, desligamento, elimina&ccedil;&atilde;o e exclus&atilde;o de cooperados e suas implica&ccedil;&otilde;es, bem como sobre a aplica&ccedil;&atilde;o ou eleva&ccedil;&atilde;o de multas;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">h) deliberar sobre a convoca&ccedil;&atilde;o da Assembleia Geral e estabelecer sua Ordem do dia, considerando as propostas dos cooperados nos termos das disposi&ccedil;&otilde;es desse estatuto; </p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">i) estabelecer a estrutura operacional da administra&ccedil;&atilde;o executiva dos neg&oacute;cios, criando e atribuindo fun&ccedil;&otilde;es, e fixando normas para a admiss&atilde;o e demiss&atilde;o dos trabalhadores;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">j) fixar as normas disciplinares;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">k) julgar os recursos formulados pelos trabalhadores contra decis&otilde;es disciplinares;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">l) avaliar a conveni&ecirc;ncia fixar o limite de fian&ccedil;a ou seguro de fidelidade para os trabalhadores que manipulam dinheiro ou valores da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">m) fixar as despesas de administra&ccedil;&atilde;o em or&ccedil;amento anual que indique a fonte dos recursos para a sua cobertura;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">n) contratar, quando se fizer necess&aacute;rio, um servi&ccedil;o independente de auditoria, conforme disposto no art. 112, da Lei n.&ordm; 5.764, de 16/12/1971;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">o) indicar banco ou bancos nos quais ser&atilde;o feitos neg&oacute;cios e dep&oacute;sitos de numer&aacute;rio, e fixar limite m&aacute;ximo que poder&aacute; ser mantido no caixa da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">p) estabelecer as normas de controle das opera&ccedil;&otilde;es e servi&ccedil;os, verificando mensalmente, no m&iacute;nimo, o estado econ&ocirc;mico-financeiro da empresa e o desenvolvimento das opera&ccedil;&otilde;es e servi&ccedil;os, atrav&eacute;s de balancetes e demonstrativos espec&iacute;ficos;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">q) adquirir, alienar ou onerar bens im&oacute;veis da sociedade, com expressa autoriza&ccedil;&atilde;o da Assembleia Geral;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">r) contrair obriga&ccedil;&otilde;es, transigir, adquirir, alienar e onerar bens im&oacute;veis, ceder direitos e constituir mandat&aacute;rios;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">s) fixar anualmente taxas destinadas a cobrir deprecia&ccedil;&atilde;o dos valores que comp&otilde;em o ativo permanente da entidade;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">t) zelar pelo cumprimento da legisla&ccedil;&atilde;o do Cooperativismo e outras aplic&aacute;veis, bem como pelo atendimento da legisla&ccedil;&atilde;o trabalhista perante seus trabalhadores.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">v) Aplicar a regra de ouro do cooperativismo, 30%/70%.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O Presidente social providenciar&aacute; para que os demais membros dos Conselhos recebam, com a anteced&ecirc;ncia m&iacute;nima de 3 (tr&ecirc;s) dias &uacute;teis, c&oacute;pias dos balancetes e demonstrativos, planos e projetos e outros documentos sobre os quais tenham que pronunciar-se, sendo-lhes facultado, ainda anteriormente a reuni&atilde;o correspondente, inquirir Cooperados, pesquisar documentos, a fim de dirimir as d&uacute;vidas eventualmente existentes.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O Gerente Administrativo solicitar&aacute;, sempre que julgar conveniente, o assessoramento de quaisquer trabalhadores graduados para auxili&aacute;-lo no esclarecimento dos assuntos a decidir, podendo determinar que qualquer deles apresente, previamente, projetos sobre quest&otilde;es espec&iacute;ficas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">As normas estabelecidas pelo Conselho de Administra&ccedil;&atilde;o ser&atilde;o baixadas em forma de Resolu&ccedil;&otilde;es, Regulamentos ou Instru&ccedil;&otilde;es que, em seu conjunto, constituir&atilde;o o Regimento Interno da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Ao Presidente competem, entre outros, definidos em Regimento Interno, os seguintes poderes e atribui&ccedil;&otilde;es:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Dirigir e supervisionar todas as atividades da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Baixar os atos de execu&ccedil;&atilde;o das decis&otilde;es do Conselho designado pelo Conselho de Administra&ccedil;&atilde;o, cheques, contratos e demais documentos constitutivo de obriga&ccedil;&otilde;es;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Assinar, juntamente a outro Conselheiro designado pelo Conselho de Administra&ccedil;&atilde;o, cheques, contratos e demais documentos constitutivos de obriga&ccedil;&otilde;es;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Convocar e presidir as reuni&otilde;es do Conselho de Administra&ccedil;&atilde;o, bem como as Assembleias Gerais dos cooperados;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Apresentar &agrave; Assembleia Geral Ordin&aacute;ria:</p>
                    <p class="text-justify">&nbsp;</p>
                    <ul class="nested-list">
                      <li class="text-justify color-black fs-12pt text-italic">Relat&oacute;rio da Gest&atilde;o;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Balan&ccedil;o Geral;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Demonstrativo das sobras apuradas ou das Perdas verificadas no exerc&iacute;cio e o Parecer do Conselho Fiscal.</li>
                    </ul>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Representar ativa e passivamente a empresa, em ju&iacute;zo e fora dele;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Representar os cooperados, como solid&aacute;rio com os financiamentos efetuados por interm&eacute;dio da empresa, realizados nas limita&ccedil;&otilde;es da lei e deste estatuto;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Elaborar o plano anual de atividades da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Verificar periodicamente o saldo da caixa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Acompanhar, juntamente o conselho econ&ocirc;mico e financeiro, as finan&ccedil;as da .................................. (<span class="text-bold">nome da Empresa</span>)</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Ao Vice-Presidente compete interessar-se permanentemente pelo trabalho do Presidente, substituindo-o em seus impedimentos inferiores a 90 (noventa) dias;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Compete ao Secret&aacute;rio, entre outras, definidas em regimento interno, as seguintes atribui&ccedil;&otilde;es:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Secretariar os trabalhos e orientar a lavratura das atas das reuni&otilde;es do Conselho de Administra&ccedil;&atilde;o e da Assembleia Geral, responsabilizando-se pela guarda de livros, documentos e arquivos pertinentes;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Assinar, juntamente ao Presidente, contratos e demais constitutivos de obriga&ccedil;&otilde;es, bem como cheques banc&aacute;rios.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Observa&ccedil;&atilde;o: Pode haver outros cargos e suas fun&ccedil;&otilde;es ser&atilde;o definidas no descritivo destes.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os administradores, eleitos, n&atilde;o ser&atilde;o pessoalmente respons&aacute;veis pelas obriga&ccedil;&otilde;es que contra&iacute;rem em nome da empresa, mas responder&atilde;o solidariamente pelos preju&iacute;zos resultantes de des&iacute;dia e omiss&atilde;o ou se agirem com culpa, dolo ou m&aacute;-f&eacute;.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">A empresa responder&aacute; pelos atos aqui referidos, se os houver ratificado ou deles logrado proveito.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os que participarem de ato ou opera&ccedil;&atilde;o social em que se oculte a natureza da sociedade, poder&atilde;o ser declarados pessoalmente respons&aacute;veis pelas obriga&ccedil;&otilde;es em nome dela contra&iacute;das, sem preju&iacute;zo das san&ccedil;&otilde;es penais cab&iacute;veis.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">O membro do Conselho de Administra&ccedil;&atilde;o que tiver interesse oposto ao da empresa, n&atilde;o poder&aacute; participar das delibera&ccedil;&otilde;es relacionadas com essa opera&ccedil;&atilde;o, cumprindo-lhe declarar seu impedimento.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Os componentes do Conselho de Administra&ccedil;&atilde;o, do Conselho Fiscal social e do Conselho fiscal econ&ocirc;mico, assim com os liquidantes, equiparam-se aos administradores das sociedades an&ocirc;nimas para efeito de responsabilidade c&iacute;vel e criminal.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Sem preju&iacute;zo da a&ccedil;&atilde;o que possa caber a qualquer cooperado, a empresa, por seus dirigentes, ou representada por cooperados escolhidos em Assembleia Geral, ter&aacute; direito de a&ccedil;&atilde;o contra os administradores, para promover a sua responsabilidade, e de regresso quando aplic&aacute;vel.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">Poder&aacute; o Conselho de Administra&ccedil;&atilde;o criar comit&ecirc;s especiais, transit&oacute;rios ou n&atilde;o, para estudar, planejar e coordenar a solu&ccedil;&atilde;o de quest&otilde;es espec&iacute;ficas, relativas ao funcionamento da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO VIII</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DO CONSELHO FISCAL</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os neg&oacute;cios e atividades da cooperativa ser&atilde;o fiscalizados ass&iacute;dua e minuciosamente por todos os conselheiros fiscais e um conselho, constitu&iacute;do de 3 (tr&ecirc;s) membros efetivos e 3 (tr&ecirc;s) suplentes, todos cooperados, eleitos anualmente pela Assembleia Geral, sendo permitida a reelei&ccedil;&atilde;o de apenas 1/3 (um ter&ccedil;o) dos seus componentes.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">N&atilde;o podem fazer parte do Conselho Fiscal, al&eacute;m dos ineleg&iacute;veis enumerados neste estatuto, os parentes dos Conselheiros de Administra&ccedil;&atilde;o at&eacute; 2&ordm; (segundo) grau, em linha reta ou colateral, bem como os parentes entre si at&eacute; desse grau.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os cooperados n&atilde;o podem exercer cumulativamente cargos nos Conselhos de Administra&ccedil;&atilde;o, Fiscal e, se houver, de &Eacute;tica.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O Conselho Fiscal re&uacute;ne-se, ordinariamente, uma vez por m&ecirc;s e, extraordinariamente, sempre que necess&aacute;rio, com a participa&ccedil;&atilde;o de 3 (tr&ecirc;s) dos seus membros.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Em sua primeira reuni&atilde;o, os conselheiros escolher&atilde;o, entre si, um secret&aacute;rio para a lavratura de atas e um coordenador, este incumbido de convocar e dirigir as reuni&otilde;es.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">As reuni&otilde;es do Conselho Fiscal poder&atilde;o ser convocadas, ainda, por qualquer de seus membros, por solicita&ccedil;&atilde;o do Conselho de Administra&ccedil;&atilde;o ou da Assembleia Geral.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Na aus&ecirc;ncia do Coordenador ser&aacute; escolhido um substituto, na ocasi&atilde;o, para dirigir os trabalhos.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">As delibera&ccedil;&otilde;es ser&atilde;o tomadas por maioria simples de votos e constar&atilde;o de ata, lavrada em livro pr&oacute;prio, lida, aprovada e assinada ao final dos trabalhos de cada reuni&atilde;o, por 3 (tr&ecirc;s) conselheiros presentes, indicados pela Assembleia Geral.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Ocorrendo tr&ecirc;s ou mais vagas no Conselho Fiscal ou no Conselho de &Eacute;tica, o Conselho de Administra&ccedil;&atilde;o determinar&aacute; a convoca&ccedil;&atilde;o da Assembleia Geral para eleger substitutos.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Compete ao Conselho Fiscal exercer ass&iacute;dua fiscaliza&ccedil;&atilde;o sobre as opera&ccedil;&otilde;es, atividades e servi&ccedil;os da cooperativa, examinando livros, contas e documentos, cabendo-lhe entre outras, as seguintes atribui&ccedil;&otilde;es:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Conferir, mensalmente, o saldo do numer&aacute;rio existente em caixa, verificando, inclusive, se o mesmo est&aacute; dentro dos limites estabelecidos pelo Conselho de Administra&ccedil;&atilde;o;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Verificar se os extratos de contas banc&aacute;rias conferem com a escritura&ccedil;&atilde;o da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Examinar se o montante das despesas e invers&otilde;es realizadas est&atilde;o de conformidade com os planos e decis&otilde;es do Conselho de Administra&ccedil;&atilde;o;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Verificar se as opera&ccedil;&otilde;es realizadas e servi&ccedil;os prestados correspondem em volume, qualidade e valor &agrave;s conveni&ecirc;ncias econ&ocirc;mico-financeiras da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Certificar se o Conselho de Administra&ccedil;&atilde;o vem se reunindo regularmente e se existem cargos vagos na sua composi&ccedil;&atilde;o;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Averiguar se existem dos cooperados quanto aos servi&ccedil;os prestados;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Inteirar-se quanto ao recebimento dos cr&eacute;ditos, se &eacute; feito com regularidade e se os compromissos sociais e financeiros s&atilde;o atendidos com pontualidade;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Averiguar exist&ecirc;ncia de problemas com trabalhadores;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Certificar exist&ecirc;ncia de exig&ecirc;ncias ou deveres a cumprir junto a autoridades fiscais, trabalhistas ou administrativas e quanto aos &oacute;rg&atilde;os do Cooperativismo;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Averiguar se os estoques de materiais, equipamentos e outros est&atilde;o corretos, bem como se os invent&aacute;rios peri&oacute;dicos ou anuais s&atilde;o feitos com observ&acirc;ncia das regras pr&oacute;prias;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Examinar os balancetes e outros demonstrativos mensais, o balan&ccedil;o e o relat&oacute;rio anual do Conselho de Administra&ccedil;&atilde;o, emitindo parecer sobre estes para Assembleia Geral;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Dar conhecimento ao Conselho de Administra&ccedil;&atilde;o das conclus&otilde;es dos seus trabalhos, denunciando a este, &agrave; Assembleia Geral e ao movimento da coopera&ccedil;&atilde;o, as irregularidades constatadas e convocar Assembleia Geral, se ocorrem motivos graves e urgentes;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Convocar Assembleia Geral, quando houver motivos graves ou urgentes e o Conselho de Administra&ccedil;&atilde;o se negar a convoc&aacute;-las;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Conduzir o processo eleitoral, coordenando os trabalhos de elei&ccedil;&atilde;o, proclama&ccedil;&atilde;o e posse dos eleitos, fiscalizando tamb&eacute;m o cumprimento do estatuto, Regimento Interno, Resolu&ccedil;&otilde;es, Decis&otilde;es de Assembleia Geral, de &Eacute;tica (se houver) e do Conselho de Administra&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Para o desempenho de suas fun&ccedil;&otilde;es, ter&aacute; o conselho Fiscal acesso a quaisquer livros, contas e documentos, a trabalhadores cooperados e outros, independente de autoriza&ccedil;&atilde;o pr&eacute;via do Conselho de Administra&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Poder&aacute; o Conselho Fiscal ainda, com anu&ecirc;ncia do Conselho de Administra&ccedil;&atilde;o e com autoriza&ccedil;&atilde;o da Assembleia Geral, contratar o necess&aacute;rio assessoramento t&eacute;cnico especializado, correndo as despesas por conta da empresa.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO IX</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DOS LIVROS E DA CONTABILIDADE</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A empresa dever&aacute;, al&eacute;m de outros, ter os seguintes livros:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">a) Com termos de abertura e encerramento subscritos pelo Presidente:</p>
                    <p class="text-justify">&nbsp;</p>
                    <ul class="nested-list">
                      <li class="text-justify color-black fs-12pt text-italic">Matr&iacute;cula;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Lista de presen&ccedil;a de cooperados nas Assembleias Gerais;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Atas das Assembleias;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Atas do Conselho de Administra&ccedil;&atilde;o, Conselho Fiscal Social, Conselho Fiscal Econ&ocirc;mico;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Atas do Conselho Fiscal.</li>
                      <li class="text-justify color-black fs-12pt text-italic">Autenticadas pela autoridade competente:</li>
                      <li class="text-justify color-black fs-12pt text-italic">Livros fiscais;</li>
                      <li class="text-justify color-black fs-12pt text-italic">Livros cont&aacute;beis.</li>
                    </ul>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">&Eacute; facultada a ado&ccedil;&atilde;o de livros de folhas soltas ou fichas, devidamente numeradas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">No livro de Matr&iacute;cula os cooperados ser&atilde;o inscritos por ordem cronol&oacute;gica de admiss&atilde;o dele constando:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- O nome, idade, estado civil, nacionalidade, profiss&atilde;o, documentos pessoais de identifica&ccedil;&atilde;o e domicilio dos cooperados;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- A data de sua admiss&atilde;o, e quando for o caso, de seu desligamento, elimina&ccedil;&atilde;o ou exclus&atilde;o;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- A conta corrente das respectivas quotas-partes do capital social;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Assinatura do cooperado e de duas testemunhas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO X</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DO BALAN&Ccedil;O GERAL, DESPESAS, SOBRAS, PERDAS E FUNDOS<span class="text-italic">&nbsp;&nbsp;&nbsp; </span></p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A apura&ccedil;&atilde;o dos resultados do exerc&iacute;cio social e o levantamento do balan&ccedil;o geral ser&atilde;o realizados no dia 31 (trinta e um) de Dezembro de cada ano.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os resultados ser&atilde;o apurados segundo a natureza das opera&ccedil;&otilde;es ou servi&ccedil;os, pelo confronto das respectivas receitas com as despesas diretas e indiretas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">As despesas administrativas ser&atilde;o compartilhadas na propor&ccedil;&atilde;o das opera&;&otilde;es, sendo os respectivos montantes computados nas apura&ccedil;&otilde;es referidas neste artigo.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os resultados positivos, apurados por setor de atividade, nos termos deste artigo, ser&atilde;o distribu&iacute;dos da seguinte forma (no m&iacute;nimo):</p>
                    <p class="text-justify color-black fs-12pt">10% (dez por cento) ao Fundo de Reserva;</p>
                    <p class="text-justify color-black fs-12pt">5% (cinco por cento) ao Fundo de Assist&ecirc;ncia T&eacute;cnica, Educacional e Social &ndash; FATES.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Al&eacute;m do Fundo de Reserva e FATES, a Assembleia poder&aacute; criar outros fundos, inclusive rotativos, com recursos destinados a fins espec&iacute;ficos, fixando o modo de forma&ccedil;&atilde;o aplica&ccedil;&atilde;o e liquida&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os resultados negativos ser&atilde;o rateados entre os cooperados, na propor&ccedil;&atilde;o das opera&ccedil;&otilde;es de cada um realizadas com a empresa, se o Fundo de Reserva n&atilde;o for suficiente para cobri-los.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O Fundo de Reserva destina-se a reparar as perdas do exerc&iacute;cio e atender ao desenvolvimento das atividades, revertendo em seu favor, al&eacute;m da taxa de 10% (dez por cento) das obras:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Os cr&eacute;ditos n&atilde;o reclamados pelos cooperados, decorridos 5 (cinco)anos;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Os aux&iacute;lios sem destina&ccedil;&atilde;o especial;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- O Fundo de Assist&ecirc;ncia T&eacute;cnica, Educacional e Social &ndash; FATES, destina-se &agrave; presta&ccedil;&atilde;o de servi&ccedil;os aos cooperados e seus familiares, assim como aos trabalhadores da pr&oacute;pria empresa, podendo ser prestados mediante conv&ecirc;nio com entidades especializadas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Ficando sem utiliza&ccedil;&atilde;o mais de 50% (cinquenta por cento) dos recursos anuais deste fundo, durante dois anos consecutivos, ser&aacute; procedida a revis&atilde;o dos planos de aplica&ccedil;&atilde;o, devendo a Assembleia Geral seguinte ser informada e fazer as recomenda&ccedil;&otilde;es necess&aacute;rias ao cumprimento das finalidades objetivadas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Revertem em favor do FATES, al&eacute;m da percentagem acima mencionada, as rendas eventuais de qualquer natureza, resultantes de opera&ccedil;&otilde;es ou atividades nas quais os cooperados n&atilde;o tenham tido interven&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO XI</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DA DISSOLU&Ccedil;&Atilde;O E LIQUIDA&Ccedil;&Atilde;O</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A cooperativa se dissolver&aacute; de pleno direito:</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Quando assim deliberar a Assembleia Geral, desde que os cooperados, totalizando o n&uacute;mero m&iacute;nimo de 2/3 (dois ter&ccedil;os) dos cooperados presentes, com direito a voto, n&atilde;o se disponham a assegurar a continuidade da empresa;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Devido a altera&ccedil;&atilde;o de sua forma jur&iacute;dica;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Pela redu&ccedil;&atilde;o do n&uacute;mero de cooperados a menos de vinte ou do capital social m&iacute;nimo, se at&eacute; a Assembleia Geral subsequente, realizada em prazo n&atilde;o superior a 6 (seis) meses, esses quantitativos n&atilde;o forem restabelecidos;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt text-italic">- Pela paralisa&ccedil;&atilde;o de suas atividades por mais de 120 (cento e vinte) dias.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Quando a dissolu&ccedil;&atilde;o for deliberada pela Assembleia Geral, esta nomear&aacute; um ou mais liquidantes e um Conselho Fiscal de 3 (tr&ecirc;s) membros para proceder &agrave; liquida&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">A Assembleia Geral, nos limites de suas atribui&ccedil;&otilde;es, pode, em qualquer &eacute;poca, destituir os liquidantes e os membros do Conselho Fiscal, designado seus substitutos;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">O liquidante deve proceder &agrave; liquida&ccedil;&atilde;o de conformidade com os dispositivos da Legisla&ccedil;&atilde;o Cooperativista.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Quando a dissolu&ccedil;&atilde;o da empresa n&atilde;o for promovida voluntariamente, nas hip&oacute;teses acima previstas, essa medida poder&aacute; ser tomada judicialmente a pedido de qualquer Cooperado.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify chapter-title">CAP&Iacute;TULO XII</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DAS DISPOSI&Ccedil;&Otilde;ES GERAIS E TRANSIT&Oacute;RIAS</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Os casos omissos ser&atilde;o resolvidos de acordo com os princ&iacute;pios doutrin&aacute;rios e os dispositivos legais, ouvida o movimento da coopera&ccedil;&atilde;o.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">DO FORO</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Fica eleito o foro central da Capital, para dirimir qualquer d&uacute;vida referente a esse Estatuto e demais quest&otilde;es inerentes &agrave; Empresa, salvo disposi&ccedil;&atilde;o legal em contr&aacute;rio.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">E por estarem as partes de comum acordo, firmam o presente contrato em 2 (duas) vias de igual teor, para um s&oacute; efeito, na presen&ccedil;a de 2 (duas) testemunhas.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify color-black fs-12pt">Este estatuto foi aprovado em Assembleia de Constitui&ccedil;&atilde;o, realizada em .............. (<span class="text-bold">data</span>), e &eacute; c&oacute;pia fiel do registrado em livro pr&oacute;prio.</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify">&nbsp;</p>
                    <p class="text-justify section-title">OBS:</p>
                    <p class="text-justify color-black fs-12pt text-italic">*Nome e assinatura de todos os cooperados</p>
                    <p class="text-justify color-black fs-12pt text-italic">*Rubrica de todos, todas as vias</p>
                    <p class="text-justify color-black fs-12pt text-italic">*Visto do advogado, com n.&ordm; OAB</p>
                    <p class="text-justify color-black fs-12pt text-italic">*Nome e assinatura de duas testemunhas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="text-justify fs-10pt text-italic">&nbsp;&nbsp;&nbsp; </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>