---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/pages/referencias.css';
const pageTitle = "Referências Bibliográficas";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="referencias-container">
    <h1 class="referencias-title">CITAÇÕES BIBLIOGRÁFICAS</h1>
    
    <ol class="referencias-list">
      <li class="referencia-item">
        <span class="referencia-authors">EMILIANO, José</span>. 
        <span class="referencia-title">A Tragédia da Fome</span>. 
        <a href="https://ifz.org.br/2022/01/08/a-tragedia-da-fome/" class="referencia-link" target="_blank" rel="noopener noreferrer">
          https://ifz.org.br/2022/01/08/a-tragedia-da-fome/
        </a> 
        <span class="referencia-date">08/01/2022</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">BUTTENBENDER, Paulo Luis</span>. 
        <span class="referencia-title">Estudos sobre o cooperativismo no nordeste do Estado do Rio Grande do Sul, de 2004 a 2010</span>. 
        Santa Rosa (RS), UNIJUI, 2011. (Documento sistematizador do TCC) 
        <a href="https://www.passeidireto.com/arquivo/70379661/cooperativismo07/20210" class="referencia-link" target="_blank" rel="noopener noreferrer">
          https://www.passeidireto.com/arquivo/70379661/cooperativismo07/20210
        </a> 
        <span class="referencia-date">07/2021</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">DAS AMAZÔNIAS</span>. 
        <span class="referencia-title">Revista Discente de Historia da UFAC. O que o "Parasitas" tem em comum com o Brasil no covid19</span>. 
        <a href="file:///C:/Users/monte/AppData/Local/Temp/3461-Texto%20do%20artigo-9782-3-10-20 200527.pdf" class="referencia-link" target="_blank" rel="noopener noreferrer">
          file:///C:/Users/monte/AppData/Local/Temp/3461-Texto%20do%20artigo-9782-3-10-20 200527.pdf
        </a>
        <span class="referencia-date">27/04/2020</span>. 
        <span class="referencia-page">p.114</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">PRIMO, Rafaela de Santana Guimarães</span>. 
        <span class="referencia-title">O e-commerce e a Iempresa</span>.
        Sergipe, Universidade Federal de Sergipe, Centro de ciências sociais aplicadas. Departamento de Administração, 2018. 
        <a href="https://ri.ufs.br/bitstream/riufs/11574/2/Rafaela_Santana_Guimaraes_Primo.pdf" class="referencia-link" target="_blank" rel="noopener noreferrer">
          https://ri.ufs.br/bitstream/riufs/11574/2/Rafaela_Santana_Guimaraes_Primo.pdf
        </a>
        <span class="referencia-date">2018</span>. 
        <span class="referencia-type">Tese de mestrado</span>. 
        <span class="referencia-page">p. 64</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">PRIMO, Rafaela de Santana Guimarães</span>. 
        <span class="referencia-title">Vantagens e desvantagem do comércio eletrônico: Fatores que influenciaram na compra no comércio eletrônico; um estudo com consumidores universitário</span>. 
        Sergipe, UFS, 
        <a href="https://ri.ufs.br/bitstream/riufs/11574/2/Rafaela_Santana_Guimaraes_Primo.pdf" class="referencia-link" target="_blank" rel="noopener noreferrer">
          https://ri.ufs.br/bitstream/riufs/11574/2/Rafaela_Santana_Guimaraes_Primo.pdf
        </a>
        <span class="referencia-date">2018</span>. 
        <span class="referencia-page">p.28</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">GOMES, Tiago Felipe de Carvalho</span>. 
        <span class="referencia-title">A aplicação do código de defesa do consumidor nas relações de compras e vendas virtuais</span>. 
        <a href="http://repositorio.saolucas.edu.br:8080/xmlui/bitstream/handle/123456789/2365/Tiago%20Felipe%20de%20Carvalho%20Gomes%2C%20A%20aplica%C3%A7%C3%A3o%20do%20C%C3%B3digo%20de%20Defesa%20do%20Consumidor%20nas%20rela%C3%A7%C3%B5es%20de%20compras%20e%20vendas%20virtuais.pdf?sequence=1&isAllowed=y" class="referencia-link" target="_blank" rel="noopener noreferrer">
          http://repositorio.saolucas.edu.br:8080/xmlui/bitstream/handle/123456789/2365/Tiago%20Felipe%20de%20Carvalho%20Gomes%2C%20A%20aplica%C3%A7%C3%A3o%20do%20C%C3%B3digo%20de%20Defesa%20do%20Consumidor%20nas%20rela%C3%A7%C3%B5es%20de%20compras%20e%20vendas%20virtuais.pdf?sequence=1&isAllowed=y
        </a>
        Porto Velho, Centro Universitário de São Lucas, Coordenação do curso de direito, 2017. 
        <span class="referencia-page">P.15 e p.16</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">BOFF, Priscila da Rosa; HAHN, Renata dos Santos</span>. 
        <span class="referencia-title">Planejamento estratégico participativo: Relato da experiência de implementação na ATURI</span>. 
        <a href="http://base.socioeco.org/docs/041cadernosihu.pdf" class="referencia-link" target="_blank" rel="noopener noreferrer">
          http://base.socioeco.org/docs/041cadernosihu.pdf
        </a>
        Rio Grande do Sul, SIHVE, 2009. 
        <span class="referencia-page">P.28</span>
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">PRÊMOLI, Kátia</span>. 
        <span class="referencia-title">Perfil e característica de mulheres em empreendimentos sociais: Estudo nos empreendimentos econômicos solidários</span>. 
        Itajaí, Universidade do Vale do Itajaí, 2011.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">BUTTENBENDER, Pedro Luiz</span>. 
        <span class="referencia-title">Estudo sobre o cooperativismo no nordeste do Estado do Rio Grande do Sul; de 2004 a 2010</span>. 
        <a href="https://bibliodigital.unijui.edu.br:844n" class="referencia-link" target="_blank" rel="noopener noreferrer">
          https://bibliodigital.unijui.edu.br:844n
        </a>
        <span class="referencia-date">04/2011</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">HENDGES, Margot</span>. 
        <span class="referencia-title">Educação e capacitação cooperativa: sua importância e aplicação</span>.
        econômicos.fiscolex.com.br, 
        <span class="referencia-date">06/03/2011</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">COMPART, Alexandre e OLIVEIRA, Gleiber Gomes</span>. 
        <span class="referencia-title">COV (desenvolvimento institucional - transformação social)</span>. 
        <a href="http://www.institutoelo.org.br/site/files/publications/e462b7dfab5c20d14b608509b9fc3d05.pdf" class="referencia-link" target="_blank" rel="noopener noreferrer">
          http://www.institutoelo.org.br/site/files/publications/e462b7dfab5c20d14b608509b9fc3d05.pdf
        </a>
        <span class="referencia-journal">Ano1N1</span>, 
        <span class="referencia-date">12/2010</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">COMPART, A.; OLIVEIRA, G.</span>. 
        <span class="referencia-title">Cov (desenvolvimento institucional, transformação social)</span> = 
        <span class="referencia-journal">Rev.S3 Terceiro setor, ano I, 1</span>,
        <span class="referencia-date">2010</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">ARCOVERDE, Ana; MELO, Creusa; SILVA, Leonidas</span>. 
        <span class="referencia-title">O Estado, os blocos econômicos e as cooperativas</span>. 
        V Encontro de Pesquisadores Latino de Cooperativismo. Ribeirão Preto, São Paulo, 
        <span class="referencia-date">08/08/2008</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">ABREU, Ivo</span>. 
        <span class="referencia-title">Inclusão Digital & Educação</span>.
        HTTP.//desígnio.com.sapo.pt/Etica/etic_04_InclDigital Edu.htm 
        <span class="referencia-date">13/05/2007</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">ALENCAR, R.; AVILA, E.; BELLI, M.; DALAGNELO, E.; GRESS, F.; MACHADO, M.; PEREIRA, E.; SANTOS, J.; SERPA, A.</span>. 
        <span class="referencia-title">CEPESI: uma nova forma de Economia Solidária</span>. 
        Asociación Colombiana de Universidades-ASCUN ; IX Congreso Iberoamericano de Extension Universitária, Bogota-Colombia, 
        <span class="referencia-date">2006</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">CRUZ, Rogério Teixeira</span>. 
        <span class="referencia-title">A potencialidade do associativismo e do cooperativismo na Internacionalização De Produtos de Micro e Pequenas Empresas - O Exemplo da Cachaça</span>. 
        <span class="referencia-journal">Rev. de Negócios internacionais, Piracicaba, 4(7):35-41</span>,
        <span class="referencia-date">2006</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">ANGELO, Carolina Barbosa</span>. 
        <span class="referencia-title">Pessoas desenvolvendo processos estudo de caso: SICOOB Nova Venecia</span>,
        <span class="referencia-date">2005</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">GROSSI, M.; OLIVEIRA, M.; SOUZA, W.</span>. 
        <span class="referencia-title">A distribuição do conhecimento na sociedade de informação</span>, 
        S.L.P., 
        <span class="referencia-date">2005</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">PREVIDI, Mariele F.</span>. 
        <span class="referencia-title">A economia solidária e a imprensa no governo Lula</span>. 
        São Paulo, PUCSP-Pontificia Universidade Católica de São Paulo, 
        <span class="referencia-date">2005</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">BARBOSA E LINZ, Luiz LINS, Maria Nazaré</span>. 
        <span class="referencia-title">3 setor. Reflexões sobre o marco legal</span>. 
        Rio de Janeiro, Fundação Getúlio Vargas, 
        <span class="referencia-date">1998</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">GOMES, H.S.; SOUZA, J.L.; SANTOS, A.R.</span>. 
        <span class="referencia-title">Políticas para a economia solidária</span>. 
        S.L.P., 
        <span class="referencia-date">S.D.</span>.
      </li>

      <li class="referencia-item">
        <span class="referencia-authors">JORGE, C.; SANTOS, F.</span>. 
        <span class="referencia-title">A economia solidária e as novas relações de trabalho no capitalismo contemporâneo</span>. 
        Universidade Federal de Juiz de Fora,
        <span class="referencia-date">S.D.</span>.
      </li>
    </ol>
  </main>
</BaseLayout>