---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---

<section class="videos-section">
      <h3>CONHEÇA MELHOR A ECONOMIA SOLIDÁRIA</h3>
      <p>Rosalvi Monteagudo fala sobre a Economia Solidária no Youtube</p>
      
      <div class="video-grid">
        <div class="video-wrapper">
          <div class="video-container">
            <iframe src="//www.youtube.com/embed/W45gDzGDDHY" allowfullscreen></iframe>
          </div>
        </div>
        
        <div class="video-wrapper">
          <div class="video-container">
            <iframe src="//www.youtube.com/embed/XOI14WvyLWg" allowfullscreen></iframe>
          </div>
        </div>
        
        <div class="video-wrapper">
          <div class="video-container">
            <iframe src="//www.youtube.com/embed/t_aw08pfZDQ" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      
      <div class="youtube-channel">
        <p><strong>CLIQUE NO LINK ABAIXO E CONHEÇA O CANAL COM TODOS OS VÍDEOS NO YOUTUBE</strong></p>
        <a href="https://www.youtube.com/channel/UCK6Hs8gfu1V4IgGuMIHaqPQ" target="_blank" class="social-link">Canal do YouTube</a>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-logo">
      <img src="https://yata-apix-534d11ad-43bb-4e41-ac1e-3bf276e85863.s3-object.locaweb.com.br/27851b1fddc64a8c8800c2ddddc4eb6e.png" alt="Economia Solidária">
    </div>
    
    <div class="contact-info">
      <p>Rosalvi Monteagudo<br>rosalvi@econsolidaria.org</p>
    </div>
    
    <div class="copyright">
      <p>Economia Solidária - Rosalvi Monteagudo © 2019</p>
    </div>
  </footer>
</section>