---
import ThemeToggleIcon from '../components/ThemeToggleIcon.astro';
import Navigation from './Navigation.astro';
import ImgLogo from '../assets/ImgLogo.astro';
---
<header>
  <nav>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <ThemeToggleIcon />
    <br/>
    <ImgLogo />
    <h1 class="site-title">ECONOMIA SOLIDÁRIA<br>NOVAS REGRAS</h1> 
    <Navigation />
  </nav>
</header>