---
import ThemeToggleIcon from '../components/ThemeToggleIcon.astro';
import Navigation from './Navigation.astro';
import ImgLogo from '../assets/ImgLogo.astro';
import '../styles/components/nav.css';
---
<header>
  <nav>
    <!-- Remove hamburger menu -->
    <ThemeToggleIcon />
    <br/>
    <ImgLogo />
    <h1 class="site-title">ECONOMIA SOLIDÁRIA<br>NOVAS REGRAS</h1> 
    <Navigation />
  </nav>
</header>