---
---
<header>
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      {/* Link to the Random logic */}
      <li><a href="/random">ARTIGO ALEATÓRIO</a></li>
      <li><a href="/referencias">REFERÊNCIAS</a></li>
      <li><a href="/iempresa">IEmpresa</a></li>
      {/* Link to the Blog List logic */}
      <li><a href="/blog">ARTIGOS</a></li>
    </ul>
  </nav>
</header>